html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #1e1e1e;
  color: #fff;
}

.CodeMirror {
  height: 100vh !important;
  font-size: 16px;
  background-color: #1e1e1e;
  color: #fff;
}
